<!--*/
employees.html

Employee information
*/-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#000000">
        

        <!-- Bootstrap, fontawesome, Google Fonts, Plotly, custom CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='cis451.css') }}">

        <title>Employees</title>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">CIS 451 - Final Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About">About</a>
                    </li>
                    <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="humanResourceTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Human Resource Tools</a>
                        <div class="dropdown-menu" aria-labelledby="humanResourceTools">
                            <a class="dropdown-item" href="/Employees">Employees</a>
                            <a class="dropdown-item" href="/Salaries">Salaries</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="salesTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sales Tools</a>
                        <div class="dropdown-menu" aria-labelledby="salesTools">
                            <a class="dropdown-item" href="/Place-Order">Place Order</a>
                            <a class="dropdown-item" href="/Order-History">Order History</a>
                            <a class="dropdown-item" href="/Products">Products</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrative</a>
                        <div class="dropdown-menu" aria-labelledby="adminTools">
                            <a class="dropdown-item" href="/Sales-Regions">Sales Regions</a>
                            <a class="dropdown-item" href="/Sales-Employees">Sales Employees</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="mainContainer">
            <div id="introContainer">
                <h1><b>Employee Information</b></h1>
                <p>View employee information below, including social security number (ssn), first and last name, phone number, and department. Filter by department if wanted.</p>
            </div>
            <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">SSN</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Department&nbsp; 
                                <div class="dropdown" style="display:inline-block;">
                                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter" aria-hidden="true"></i></button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/Employees?department=1">Administration</a>
                                        <a class="dropdown-item" href="/Employees?department=2">Human Resources</a>
                                        <a class="dropdown-item" href="/Employees?department=3">Accounting</a>
                                        <a class="dropdown-item" href="/Employees?department=4">Warehouse</a>
                                        <a class="dropdown-item" href="/Employees?department=5">Sales</a>
                                        <a class="dropdown-item" href="/Employees"><b>Reset</b></a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in employees.iterrows() %}
                        <tr>
                            <th scope="row">{{ row['ssn'] }}</th>
                            <td>{{ row['fname'] }}</td>
                            <td>{{ row['lname'] }}</td>
                            <td>{{ row['phone'] }}</td>
                            <td>{{ row['dname'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>

        <!-- jQuery, jQuery UI, Bootstrap JS, fontawesome, custom js -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='cis451.js') }}"></script>
    </body>
</html>