<!--*/
products.html

Products order information page
*/-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#000000">
        
        <!-- Bootstrap, fontawesome, Google Fonts, Plotly, custom CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='cis451.css') }}">
        
        <title>Products</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">CIS 451 - Final Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About">About</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="humanResourceTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Human Resource Tools</a>
                        <div class="dropdown-menu" aria-labelledby="humanResourceTools">
                            <a class="dropdown-item" href="/Employees">Employees</a>
                            <a class="dropdown-item" href="/Salaries">Salaries</a>
                        </div>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="salesTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sales Tools</a>
                        <div class="dropdown-menu" aria-labelledby="salesTools">
                            <a class="dropdown-item" href="/Place-Order">Place Order</a>
                            <a class="dropdown-item" href="/Order-History">Order History</a>
                            <a class="dropdown-item" href="/Products">Products</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrative</a>
                        <div class="dropdown-menu" aria-labelledby="adminTools">
                            <a class="dropdown-item" href="/Sales-Regions">Sales Regions</a>
                            <a class="dropdown-item" href="/Sales-Employees">Sales Employees</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="mainContainer">
            <div id="introContainer">
                <h1><b>Products</b></h1>
                <p>View the popularity of stock products below shown as total revenue and quantity ordered for all clients:</p>
            </div>

            <div id="stockProductsChart"></div>
        </div>
        <!-- jQuery, jQuery UI, Bootstrap JS, custom js -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='cis451.js') }}"></script>

        <script>
            $(document).ready(function(){
                // AJAX call populates graph with stock revenue and quantity information using JSON endpoint
                $.ajax({
                    url: '/Products/Stock',
                    method: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        description_json = data['description']
                        total_ordered_json = data['total_ordered']
                        total_json = data['total']
                        description = []
                        total_ordered = []
                        total = []
                        for (item in description_json){
                            description.push(description_json[item]);
                            total_ordered.push(total_ordered_json[item]);
                            total.push(total_json[item]);
                        }
                        
                        var totals = {
                            x: description,
                            y: total,
                            name: 'Total Revenue',
                            type: 'bar'
                        };

                        var quantities = {
                            x: description,
                            y: total_ordered,
                            name: 'Total Quantity',
                            type: 'bar'
                        };

                        var data = [totals, quantities];
                        var layout = {barmode: 'group'};
                        Plotly.newPlot('stockProductsChart', data, layout)
                    }
                });
            });
        </script>
    </body>
</html>