<!--*/
salaries.html

Company Salary Information
*/-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#000000">
        
        <!-- Bootstrap, fontawesome, Google Fonts, Plotly, custom CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='cis451.css') }}">
    
        <title>Salary Information</title>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">CIS 451 - Final Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About">About</a>
                    </li>
                    <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="humanResourceTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Human Resource Tools</a>
                        <div class="dropdown-menu" aria-labelledby="humanResourceTools">
                            <a class="dropdown-item" href="/Employees">Employees</a>
                            <a class="dropdown-item" href="/Salaries">Salaries</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="salesTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sales Tools</a>
                        <div class="dropdown-menu" aria-labelledby="salesTools">
                            <a class="dropdown-item" href="/Place-Order">Place Order</a>
                            <a class="dropdown-item" href="/Order-History">Order History</a>
                            <a class="dropdown-item" href="/Products">Products</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrative</a>
                        <div class="dropdown-menu" aria-labelledby="adminTools">
                            <a class="dropdown-item" href="/Sales-Regions">Sales Regions</a>
                            <a class="dropdown-item" href="/Sales-Employees">Sales Employees</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="mainContainer">
            <div id="introContainer">
                <h1><b>Salary Information</b></h1>
                <p>Select one of the options below to view salary information for the company. You can either view the salary breakdown by department (i.e. how much a department allocates to salaries), or for individual in the company.</p>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#departmentSalariesModal" id="salaryByDept"><i class="fa fa-building"></i> Salaries by Department</button>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#individualSalariesModal" id="salaryByIndiv"><i class="fa fa-user"></i> Individual Salaries</button>
            </div>
            <div class="modal fade" id="departmentSalariesModal" tabindex="-1" role="dialog" aria-labelledby="departmentSalariesModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="departmentSalariesModalLabel">Total Salaries for Each Department</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="departmentSalariesModalContent">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="individualSalariesModal" tabindex="-1" role="dialog" aria-labelledby="individualSalariesModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="individualSalariesModalLabel">Individual Salaries</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="individualSalariesModalContent">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top:30px;">
                <h3>Key Salary Information:</h3>
                <hr>
                <b>Average Salary: </b> ${{ average_salary }} <br />
                <b>Max Salary: </b> ${{ max_salary }} <br />
                <b>Min Salary: </b> ${{ min_salary }} <br />
            </div>
        </div>

        <!-- jQuery, jQuery UI, Bootstrap JS, custom js -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='cis451.js') }}"></script>
    </body>
</html>